header
    div
        h1.title-global
            a(href='/')= 'Advent of Code'
        nav: ul
                li: a(href='/day/1')= '[Day1]'
                li: a(href='/day/2')= '[Day2]'
                li: a(href='/day/3')= '[Day3]'
                li: a(href='/day/4')= '[Day4]'
                li: a(href='/day/5')= '[Day5]'
                li: a(href='/day/6')= '[Day6]'
                li: a(href='/day/7')= '[Day7]'
                li: a(href='/day/8')= '[Day8]'
                li: a(href='/day/9')= '[Day9]'
                li: a(href='/day/10')= '[Day10]'
                li: a(href='/day/11')= '[Day11]'
        div.user= 'Charles Ménier'
