header
    div
        h1.title-global
            a(href='/')= 'Advent of Code'
        nav: ul
                li: a(href='/day/1')= '[Day1]'
                li: a(href='/day/2')= '[Day2]'
                li: a(href='/day/3')= '[Day3]'
                li: a(href='/day/4')= '[Day4]'
                li: a(href='/day/5')= '[Day5]'
        div.user= 'Charles Ménier'
